.Social {
	
}

/* * * * * */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

.Social * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Social *:focus,
.Social *:active {
    outline: none !important;
    /* -webkit-tap-highlight-color: transparent; */
}

.social-wrapper {
    display: inline-flex;
    /* list-style: none; */
}

.social-wrapper .icon {
    position: relative;
    background: var(--clr-blu-light);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .icon span {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.social-wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: var(--clr-wht);
    color: var(--clr-wht);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--clr-wht);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* - - - */

.social-wrapper .icon:hover {
    border: 2px solid var(--clr-wht);
}

.social-wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.social-wrapper .icon:hover span,
.social-wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social-wrapper .facebook:hover,
.social-wrapper .facebook:hover a,
.social-wrapper .facebook:hover .tooltip,
.social-wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.social-wrapper .twitter:hover,
.social-wrapper .twitter:hover a,
.social-wrapper .twitter:hover .tooltip,
.social-wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.social-wrapper .instagram:hover,
.social-wrapper .instagram:hover a,
.social-wrapper .instagram:hover .tooltip,
.social-wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.social-wrapper .github:hover,
.social-wrapper .github:hover a,
.social-wrapper .github:hover .tooltip,
.social-wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.social-wrapper .linkedin:hover,
.social-wrapper .linkedin:hover a,
.social-wrapper .linkedin:hover .tooltip,
.social-wrapper .linkedin:hover .tooltip::before {
    background: #0077B5;
    color: #ffffff;
}

.social-wrapper .youtube:hover,
.social-wrapper .youtube:hover a,
.social-wrapper .youtube:hover .tooltip,
.social-wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}

.social-wrapper .whatsapp:hover,
.social-wrapper .whatsapp:hover a,
.social-wrapper .whatsapp:hover .tooltip,
.social-wrapper .whatsapp:hover .tooltip::before {
    background: #25D366;
    color: #ffffff;
}

.social-wrapper .pinterest:hover,
.social-wrapper .pinterest:hover a,
.social-wrapper .pinterest:hover .tooltip,
.social-wrapper .pinterest:hover .tooltip::before {
    background: #E60023;
    color: #ffffff;
}